[core]
	editor = vim
	pager = less --chop-long-lines
[push]
	autoSetupRemote = true
[user]
	name = Adam Martinez
	email = adam.paul.martinez@gmail.com
[diff]
	algorithm = patience
[alias]
	ls = ls-tree --name-only HEAD
	head = show
	plog = log --graph --oneline --decorate --all
	recent = "!git plog -8"
[init]
	defaultBranch = main
[pull]
	ff = only
